@model IEnumerable<Dari.Domain.Furniture>

@{
    ViewBag.Title = "Indexfurniture";
}
@section scripts{
<div class="top-nav">
    <div class="row">
        <div class="top-auto" style="align-self:center">
            <div class="container">
                <table align="center">

                    <tr> 

                        <td style="width:200px"></td>
                        <td style="width:130px">
                            <div class="top-right">
                                <div class="language-option">
                                    <span>LivingRoom</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=LivingRoom&type=Sofas">Sofas</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=LivingRoom&type=Tables and Chairs">Tables & Chairs</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=LivingRoom&type=Storage">Storage</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=LivingRoom&type=Decor">Decor</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td style="width:130px">
                            <div class="top-right">
                                <div class="language-option"> 
                                    <span>BedRoom</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li><a href="~/furniture/Indexfurniture?categ=BedRoom&type=Matresses">Matresses</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=BedRoom&type=Beds">Beds</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=BedRoom&type=Decor">Decor</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=BedRoom&type=Storage">Storage</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=BedRoom&type=Accessories">Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:130px">
                            <div class="top-right">
                                <div class="language-option"> 
                                    <span>DiningRoom</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li><a href="~/furniture/Indexfurniture?categ=DiningRoom&type=Tables and Chairs">Tables & Chairs</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=DiningRoom&type=Storage">Storage</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=DiningRoom&type=Decor">Decor</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:130px">
                            <div class="top-right">
                                <div class="language-option"> 
                                    <span>BathRoom</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li><a href="~/furniture/Indexfurniture?categ=BathRoom&type=Furniture">Furniture</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=BathRoom&type=Accessories">Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:100px">
                            <div class="top-right">
                                <div class="language-option"> 
                                    <span>Other</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li><a href="~/furniture/Indexfurniture?categ=Other&type=Garden">Garden</a></li>
                                            <li><a href="~/furniture/Indexfurniture?categ=Other&type=Garage">Garage</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td style="width:100px"></td>
                    </tr>

                </table>
            </div>
        </div>
   
        <div>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>
                 @Html.TextBox("rech")
                </div>
            </td>
            <td> <input type="submit" value="Search" id="submit" /> </td>
        </tr>
    </table>
}

        </div>
    </div>
</div> 
<br />
<hr />
              <div class="row">

                  <div class="col-md-3">
                    

                  </div>


                
                <div class="property-list">
                    @if (Model != null)
        {
            foreach (var item in Model)
            {
                            <div class="single-property-item">
                                <div class="row" style="align-content:center">

                                    <div class="col-md-3">
                                        <div class="property-pic">
                                            <img src="~/Content/upload/furniture/@Html.DisplayFor(modelItem => item.Image)" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="property-text">


                                            <h5 class="r-title">@Html.DisplayFor(modelItem => item.Name) </h5>
                                            <div class="room-price">
                                                <h5>@Html.DisplayFor(modelItem => item.Price) DT</h5>
                                            </div>
                                            <div class="properties-location">
                                                <i class="icon_pin"></i> @Html.DisplayFor(modelItem => item.Address)
                                            </div>
                                            <p>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </p>
                                            <div class="properties-location">
                                                    Qte= @Html.DisplayFor(modelItem => item.Qte)
 
                                            </div>


                                                <br />
                                                <table>
                                                    <colgroup width="100px" />
                                                    <colgroup width="100px" />
                                                    <colgroup width="100px" />
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-arrows" style="font-size:20px;color:aqua"></i>
                                                            <p>@Html.DisplayFor(modelItem => item.Height)</p>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-arrows-v" style="font-size:20px;color:aqua"></i>
                                                            <p>@Html.DisplayFor(modelItem => item.Depth)</p>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-arrows-h" style="font-size:20px;color:aqua"></i>
                                                            <p>@Html.DisplayFor(modelItem => item.Width)</p>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                    </div><br />
                                    <div class="col-md-1">
                                             <h2>
                                                <a href="~/Basket/Addtobasket/@Html.DisplayFor(modelItem => item.FurnitureId)">

                                                    <i class="fa fa-shopping-basket"style="font-size:50px;color:deepskyblue"></i>
                                                </a>
                                            </h2>
                                      
                                         

                                    </div>

                                </div> 
                            </div>
                        }
                    }
                </div>
   </div>
    

             }}}
