@model Dari.Domain.Verification

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
@section scripts{
<h2>Create</h2>

@using (Html.BeginForm("Create", "Verification", FormMethod.Post, new { enctype = "multipart/form-data", id="msform" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
   <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Verify Info</li>
        <li>Personal Details</li>
        <li>Social Profiles</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">This is step 1</h2>
        <h3 class="fs-subtitle">Verify old Info</h3>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "FirstName" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "LastName" } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Phone Number", type = "number" } })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { placeholder = "Country" } })
        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We Will never Sell them</h3>
        @Html.EditorFor(model => model.cin, new { htmlAttributes = new { placeholder = "ID Number",type="number" } })
        @Html.ValidationMessageFor(model => model.cin, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.address, new { htmlAttributes = new { placeholder = "Address" } })
        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.City, new { htmlAttributes = new { placeholder = "City" } })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        @Html.TextBox("Image", "", new { type = "file" })
        @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        @Html.EditorFor(model => model.fb, new { htmlAttributes = new { placeholder = "FaceBook" } })
        @Html.EditorFor(model => model.tw, new { htmlAttributes = new { placeholder = "Twitter" } })
        @Html.EditorFor(model => model.gg, new { htmlAttributes = new { placeholder = "Google" } })
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>

}

<!-- jQuery -->
<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
<!-- jQuery easing plugin -->
<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
<style>
    /*custom font*/
    @@import url(http://fonts.googleapis.com/css?family=Montserrat);

    /*



    /*form styles*/
    #msform {
        text-align: center;
        position: center;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 3px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 80%;
            margin: 0 10%;
            /*stacking fieldsets above each other*/
            position: absolute;
        }
            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }
        /*inputs*/
        #msform input, #msform textarea {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 13px;
        }
        /*buttons*/
        #msform .action-button {
            width: 100px;
            background: #27AE60;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
            }
            .error{
	        display: none;
	        margin-left: 10px;
         }		

         .error_show{
	        color: red;
	       margin-left: 10px;
       }
         input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}


    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }
    /*progressbar*/
    #progressbar {
        margin-top: 20px;
        margin-bottom: 10px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }

        #progressbar li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
        }

            #progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 20px;
                line-height: 20px;
                display: block;
                font-size: 10px;
                color: #333;
                background: white;
                border-radius: 3px;
                margin: 0 auto 5px auto;
            }
            /*progressbar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: white;
                position: absolute;
                left: -50%;
                top: 9px;
                z-index: -1; /*put it behind the numbers*/
            }

            #progressbar li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/
            #progressbar li.active:before, #progressbar li.active:after {
                background: #27AE60;
                color: white;
            }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.2/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    function getuserinfo() {


        $.ajax({
            "url": "http://localhost:20281/account/loggeduserdetails",
            "type": "GET",
            "datatype": "json",

            success: function (data) {
                jQuery.each(data, function (id, value) {
                    $('input[id=' + id + ']').val(value);

                });
            }
        })
    }
   

        $(document).ready(function () {

            getuserinfo();
         

        })
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            $('#msform').validate({
                rules: {
                    FirstName: {
                        required: true,
                    },
                    LastName: {
                        required: true,
                    }, //notice the comma I added
                    Email: {
                        required: true,
                        email:true,
                    },
                    PhoneNumber: {
                        required: true,
                        maxlenth: 8,
                        minlenth: 8,
                        number:true,
                    },
                    Country: {
                        required:true,
                    },
                    cin: {
                        required: true,
                        maxlenth: 8,
                        minlenth: 8,
                        number: true,
                        
                    },
                    address: {
                        required: true,
                        maxlenth: 8,
                        minlenth: 8,
                    },
                    City: {
                        required: true,
                       
                    },
                    image: {
                        required: true,
                        extension: 'jpg|jpeg|PNG|TIFF|PDF',
                    },
                },

                
                messages: {
                    FirstName: "FirstName is required", 
                    Email: "Email is required Please Enter a Email",
                    PhoneNumber: "PhoneNumber is required",
                    Country: "Country is required",
                    cin: "ID Number is required Please Enter a Valid Id",
                    address: "Address is required",
                    City: "City is required",
                    image: "image is requiredPlease Enter a Valid Image",



                }
            });

            if ((!$('#msform').valid())) { //I added an extra parenthesis at the end
                return false;
            }

            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'transform': 'scale(' + scale + ')' });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function () {
      $("#msform").submit(function (e, form) {
              
                    var postData = new FormData(this);
                        $.ajax({
                            url: "/Verification/Create",
                            type: "POST",
                            data: postData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.success = "true") {

                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"


                                    })


                                }
                            }



                        });




                        e.preventDefault();



                })
                
            


        })

</script>



    @Scripts.Render("~/bundles/jqueryval")
}
