@model Dari.Domain.Request

@{
    ViewBag.Title = "Edit";
}
@section scripts{
<section class="hero-section">
    <div class="hero-items owl-carousel">

        @foreach (var reco in ViewBag.val)
        {
            string path = "/Content/upload/" + @reco.Image;

            <div class="single-hero-item set-bg" data-setbg="@Url.Content(path)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <h2>Recommendation For You</h2>
                                <h4 style="color:#fff">Your Request : @reco.Title</h4>
                                <div class="room-price">
                                    <span>Your Budget :</span>
                                    <p>$ @reco.Budget</p>
                                </div>

                                <h4 style="color:#FFF">Property Name : @reco.Name</h4>
                                <p class="room-location"><i class="icon_pin"></i> @reco.Adress</p>
                                <div class="room-price">
                                    <span>Price Start From:</span>
                                    <p>$ @reco.Price</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="thumbnail-pic">
        <div class="thumbs owl-carousel">
            @foreach (var reco in ViewBag.val)
            {



                <div class="item">
                    @{ string path = "/Content/upload/" + @reco.Image;
                    }
                    <img src="@Url.Content(path)" alt="">
                </div>


                        }
        </div>
    </div>
</section>
<br /><br /><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit Request</h4>
        <hr />
        <br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RequestId)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.TypeCh, "BUY/RENT", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TypeCh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeCh, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>









        <div class="form-group">
            @Html.HiddenFor(model => model.CountryIso3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.CountryIso3, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.RegionCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.RegionCode, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-primary btn-lg" type="button" title="Index" value="Back to The List" onclick="location.href='@Url.Action("Index", "Request")'" />

                <input type="submit" value="Edit" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}

<br /><br /><br />

    }
